@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

/* Rules for sizing the icon. */
.material-icons-outlined.md-12 { font-size: 12px; }
.material-icons-outlined.md-16 { font-size: 16px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-22 { font-size: 22px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-26 { font-size: 26px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

:root {
    --bar-height: 65px;
    --color-primary: #ffffff
}

body {
    font-family: Nunito, sans-serif;
    background: #FCFAF8;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "bg bg bg"
        "content content content"
        ". sidebar ."
        ". article ."
        "footer footer footer";
    grid-template-columns: minmax(auto, 165px) auto minmax(auto, 165px);
}

.header {
    background: #FFFFFF;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    grid-area: header;
}

.header-container {
    display: grid;
    grid-template-areas:
        ". logo . cookbooks recepies search-form . . sign-in . sign-up .";
    grid-template-columns: minmax(auto, 165px) 87px minmax(45px, 73px) 125px 118px minmax(80px, 547px) 45px auto 65px 30px 65px minmax(auto, 165px);
    grid-template-rows: 65px;
    width: 100%;
}

.header__logo {
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    display: flex;
    align-items: center;
    grid-area: logo;
}

.logo_me {
    color: #fdb601;
}

.header__btn {
    height: 100%;
    background-color: inherit;
    border: none;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.btn_cookbooks {
    width: 80px;
    text-align: center;
    grid-area: cookbooks;
}

.btn_recepies {
    width: 73px;
    grid-area: recepies;
}

.btn_sign-in {
    width: 65px;
    text-align: right;
    grid-area: sign-in;
}

.btn_sign-up {
    width: 70px;
    text-align: right;
    grid-area: sign-up;
}

.search-form-wrapper {
    width: 381px;
    grid-area: search-form;
}

.search-form {
    height: 35px;
    width: 100%;
    border-radius: 37px;
    background: #EEEEEE;
    border: none;
    padding-left: 5px;
    grid-area: search-form;
}

.bg-container {
    display: grid;
    grid-template-areas:
        ". greeting-text ."
        ". btn_create .";
    grid-template-columns: minmax(auto, 165px) minmax(230px, 740px) minmax(45px, auto);
    /*grid-template-rows: 65px;*/
    width: 100%;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    grid-area: bg;
    background: #1B1C20;
}

.bg-pouring {
    color: #ffffff;
    border: none;
}

.bg-img {
    background: url("../img/pan.png") no-repeat;
    height: 680px;
    border: none;
}

.greeting-text {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    grid-area: greeting-text;
    margin-bottom: 0;
}

.btn_create {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-transform: capitalize;
    margin-top: 44px;
    color: #000000;
    background: #F7B602;
    border-radius: 38px;
    width: 230px;
    height: 48px;
    grid-area: btn_create;
    grid-gap: 44px;
}

.content {
    grid-area: content;
}

.main-header {
    display: flex;
    text-align: center;
    margin-top: 90px;
}

.main-header__text {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    flex-flow: row wrap;
    flex: 1;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    /*align-items: center;*/
    justify-content: center;
    grid-area: card-container;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 30px 15px 0;
    padding: 15px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    flex: 0 0 255px;
    box-sizing: border-box;
    color: #515151;
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    align-self: flex-start;
}

.card-header__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.card-header-icon {
    margin-right: 8px;
}

.card__img {
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card__title {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    align-items: self-start;
    align-self: flex-start;
    color: #000000;
}

.card__author {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #474747;
    align-self: flex-start;
    margin-bottom: 22px;
}

.card__footer {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.card-like-icon{
    margin-right: 8px;
}

.card-comment-icon{
    margin-right: 8px;
}

.card-footer-container {
    display: flex;
    align-items: center;
}

.main-header__trends {
    margin-top: 110px;
    padding-top: 65px;
}

.card__trends {
    flex: 0 0 350px;
}

.card-author__trends {
    margin-bottom: 0;
}

.trends {
    background-color: #F7B602;
    padding-bottom: 79px;
}

.footer {
    grid-area: footer;
    background: #1B1C20;
    color: #ffffff;
    align-items: center;
}

.footer-container {
    display: grid;
    grid-template-areas:
        ". logo-ft . cookbooks-ft recepies-ft about-us . email . sign .";
    grid-template-columns: minmax(auto, 165px) 87px minmax(45px, 103px) 149px 131px 85px 50px 180px minmax(50px, auto) 120px minmax(auto, 165px);
    grid-template-rows: 65px;
    width: 100%;
}

.footer__logo {
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    display: flex;
    grid-area: logo-ft;
}

.link_cookbooks {
    width: 99px;
    text-align: center;
    grid-area: cookbooks-ft;
}

.link_recepies {
    width: 81px;
    grid-area: recepies-ft;
}

.link_about-us {
    width: 85px;
    grid-area: about-us;
}

.link_email {
    width: 223px;
    grid-area: email;
}

.link_sign {
    width: 120px;
    grid-area: sign;
}



article {
    grid-area: article;
}

aside {
    grid-area: sidebar;
}
